.element__like {
  cursor: pointer;
  width: 22px;
  padding: 5px 5px 1px 0;
  opacity: 100%;
}

.element__like:hover {
  transition: opacity .5s ease linear; 
  opacity: 50%;
  background-color: transparent;  
}

.element__like_active {
  cursor: pointer;
}

.element__like_active:hover {
  background-image: url(../../images/vector-like-active.svg);
  background-repeat: no-repeat;
}