.profile__info {
  color: white;
  position: relative;
  width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1040px) {
  .profile__info {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 740px) {
  .profile__info {
    margin-bottom: 32px;
    gap: 8px;
    text-align: center;

  }
}